.row
	section.col-md-6
		h3 Capture the Flag
		p Describe capture the flag.
		a.btn.btn-default(href="/new/flag/") New Capture the Flag Game
	
	section.col-md-6
		h3 Death Matches
		p Describe death match.
		a.btn.btn-default(href="/new/death/") New Death Match Game

	section.col-md-6
		h3 King of the Hill
		p Describe king of the hill.
		a.btn.btn-default(href="/new/hill/") New King of the Hill Game

	section.col-md-6
		h3 Robo Rugby
		p Describe robo rugby.
		a.btn.btn-default(href="/new/rugby/") New Rugby Game

	section.col-md-6
		h3 Relay Race
		p Describe relay race.
		a.btn.btn-default(href="/new/race/") New Relay Race Game