extends ../includes/layout

block base
	base(href="/continue/")

block angular-routes
	script(type="text/javascript", src="/app/continue/routes.js")
	
block main-content
	h1 Continue Game
	div(ng-view)