.btn-group a.btn, .btn-group button.btn
	margin-right: 0

a.btn, button.btn
	margin-right: 10px
	
.navbar-form
	.form-group
		margin-left: 10px
	button
		margin-left: 10px
		
.popover
	max-width 400px