doctype
html
	head
		link(rel="stylesheet", href="/css/bootstrap.css")
		link(rel="stylesheet", href="/css/site.css")
	body(ng-app="roboRumble")
		h1 Robo Rumble
		block main-content
		include scripts