script(type="text/javascript", src="/vendor/jquery/dist/jquery.js")
script(type="text/javascript", src="/vendor/bootstrap/dist/js/bootstrap.js")
script(type="text/javascript", src="/vendor/angular/angular.js")
script(type="text/javascript", src="/vendor/angular-route/angular-route.js")
script(type="text/javascript", src="/vendor/angular-sanitize/angular-sanitize.js")
script(type="text/javascript", src="/vendor/angular-bootstrap-jbruni/ui-bootstrap.js")
script(type="text/javascript", src="/vendor/angular-bootstrap-jbruni/ui-bootstrap-tpls.js")

script(type="text/javascript", src="/app/app.js")
