h3 Current games:
.current-games
	table.table.table-striped.table-hover
		thead
			tr
				th Name
				th Type
				th # Robots
				th # Players
				th
		tbody
			tr
				td jgraber
				td Capture the Flag
				td 12
				td 4
				td
					button.btn.btn-default Players
					button.btn.btn-primary Watch
			tr
				td nuke fest
				td Death Match
				td 10
				td 10
				td
					button.btn.btn-default Players
					button.btn.btn-primary Watch

a.btn.btn-warning(href="/watch/") Back