.btn-group.hidden-xs
	a.btn.btn-default(href="/watch/current/") Watch Current Game
	a.btn.btn-default(href="/watch/archive/") Watch Archived Game
.visible-xs
	p
		a.btn.btn-default(href="/watch/current/") Watch Current Game
	p
		a.btn.btn-default(href="/watch/archive/") Watch Archived Game